* {
    box-sizing: border-box;
}
.wholepage {
    background-color: #98c1d9;
}
.container {
    margin: auto;
}
.card-img-top {
    width: 300px;
    height: 150px;
}
a.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
a.nav-link {
    font-family: 'Raleway', sans-serif;
}
.face {
    text-align: center;
    margin-bottom: 10px;
}
.card {
    display: inline-flex;
    width: 100%;
}
.card-body {
    color: #f0f3bd;
    background-color: #343a40;
    
}
.main-contact {
    color: #293241;
    font-family: 'Raleway', sans-serif;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    background-color: #e0fbfc;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 50px;   
}

.row-mt-1 {
    margin: 5px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#343a40;
    color:#f8f9fa;
    text-align: center;
    font-size: 10px;
  }

