* {
    box-sizing: border-box;
}
.wholepage {
    background-color: #98c1d9;
}
.main {
    color: #293241;
    font-family: 'Raleway', sans-serif;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    background-color: #e0fbfc;
    border-radius: 5px;
    text-indent: 25px;
    text-align: left;
    padding: 10px;    
}

a.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
a.nav-link {
    font-family: 'Raleway', sans-serif;
}
.face {
    text-align: center;
    margin-bottom: 10px;
}
.card-body {
    color: #f0f3bd;
    background-color: #343a40;
}
.main-contact {
    color: #293241;
    font-family: 'Raleway', sans-serif;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    background-color: #e0fbfc;
    border-radius: 5px;
    padding: 10px;  
}
.main-portfolio {
    color: #293241;
    font-family: 'Raleway', sans-serif;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    background-color: #e0fbfc;
    border-radius: 5px;
    padding: 10px;    
}
.row-mt-1 {
    margin: 5px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#343a40;
    color:#f8f9fa;
    text-align: center;
    font-size: 10px;
  }
@media only screen and (min-width: 992px) {
    .main {
        width: 50%;
    }
    .main-contact {
        width: 50%;
    }
    .main-portfolio {
        width: 50%;
    }
}
